{%extends "hello_world/index.html"%}

{% load crispy_forms_tags %}

{% block content %}
    <div  class="card">
        <div  class="card-body">
            <h4  class="card-title"> Change your password</h4>

                <form  method="post">
                {% csrf_token %}
                    {{ form|crispy }}

                    <p></p>
                <p><input type="submit" value="Change password" class="btn btn-primary"></p>
                </form>
        </div>
    </div>
{% endblock %}