<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>TicketLocator</h2>
    <h3>Flight search</h3>
    <form action="{% url 'index' %}" method="POST">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          <label for="departure_airport">Departure airport</label>
          <input type="text" id="departure_airport" name="departure_airport" value=""><br><br>
          <label for="arrival_airport">Arrival airport</label>
          <input type="text" id="arrival_airport" name="arrival_airport" value=""><br><br>
          <label for="departure_date">Departure date</label>
          <input type="date" id="departure_date" name="date" value=""><br><br>
          <label for="direct_flight">Direct flight</label>
          <input type="checkbox" id="direct_flight" name="direct_flight" value=""><br><br>
          <input type="submit" value="submit">
    </form>
    {% block content %}
	{% endblock %}
</body>
</html>